@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "lora", "sans-serif";
}

.container {
  width: 1140px;
  padding: 0px 15px;
  margin: auto !important;
}

body {
  background-color: #6c9983;
}

.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #1f5c7c;
}

.header h5 {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: #fff;
}

.country__bottom {
  display: flex;
  flex-wrap: wrap;
  column-gap: 2rem;
  row-gap: 2rem;
}

.country__card {
  width: 250px;
  border-radius: 5px;
  background: hsl(209, 23%, 22%);
  color: #fff;
}

.country__img img {
  width: 100%;
  border-radius: 5px;
  border-radius: 5px 5px 0px 0px;
}

.all__country__wrapper {
  margin-top: 100px;
}
